<div class="cover">
  <h1 class="cover-text">The complete dev language API</h1>
  <buttoni class="big-btn">Get started with Lango</button>
</div>

<h2>Endpoints</h2>
<div class="category">
  {{#each endpoints}}
  <div class="endpoint">
    <h4>
      <span class="rotate">{{this.method}}</span>
      <a href="<%= ip %>/<%= end.endpoint %>"><b>/{{this.endpoint}}</b></a>
    </h4>
    <p><b>Desc.: </b>{{this.desc}}</p>
    <p><b>Note: </b>{{this.note}}</p>
  </div>
  {{/each}}
</div>